# Copy this file and rename it .env to populate your local environment.
# Lines beginning with # are comments. Be sure to uncomment your real variables.
#
# Key/values can be separated by : or = characters.
# Values can be wrapped in '', "", or no wrapping characters.
# Spaces can be in the middle or end of a line.
# Here are some examples of keys and values:
#
# A_KEY: value
# B_KEY = True
# C_KEY :   'this value'
# D_KEY="another-key-value"
#
# Values of False or True will be returned as booleans.

# DATABASE_URL='postgres://localhost/databasename'

# AWS/S3 usage depends on all 4 settings below being set.
#AWS_ACCESS_KEY_ID='your_key_id'
#AWS_SECRET_ACCESS_KEY='your_access_key_id'
#AWS_STORAGE_BUCKET_NAME='bucket_name'
#AWS_LOCATION='your_name'